Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-us-east-2-211261803222"]
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"

files:
  # Private key
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-211261803222/config/server.key
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3.us-east-2.amazonaws.com/elasticbeanstalk-us-east-2-211261803222/config/server.crt

container_commands:
  00_getcerts:
    command: 'aws s3 cp s3://elasticbeanstalk-us-east-2-211261803222/letsencrypt /etc/letsencrypt --recursive'
  30_link:
    command: "ln -sf /etc/letsencrypt/live/www.pokerpals.ca /etc/letsencrypt/live/ebcert"
  25_restart_nginx:
    command: "service nginx restart"


#10_installcertbot:
#  command: 'wget https://dl.eff.org/certbot-auto && chmod a+x certbot-auto'
#15_disablenginx:
#  command: 'service nginx stop'
#20_getcert:
#  command: './certbot-auto certonly --debug --non-interactive --email jkmroper@gmail.com --agree-tos --standalone --domains www.pokerpals.ca --keep-until-expiring --staging'
#40_uploadcerts:
#  command: 'aws s3 cp /etc/letsencrypt s3://elasticbeanstalk-us-east-2-211261803222/letsencrypt --recursive --exclude "/etc/letsencrypt/live/ebcert"'