.Playingcard:hover{
  transform: rotatey(180deg);
  transition: transform 500ms cubic-bezier(.2,-0.02,.39,1.27);

  /* border: white 23px solid; */
}
.Playingcard{
  width:107px;
  height:142px;
  background-repeat: no-repeat;
}
.blank.card{
    background: url("../cards/Back Blue 1.png");
    /* height: 140px; */
/* width:210px;; */
    background-repeat: no-repeat;
}

.blank.card:hover{
  /* perspective:700px;  */
  transform: scaleY(180deg);
}

.clubs.ace {
  background: url("../cards/Clubs 1.png");


}
.clubs.two {
  background: url("../cards/Clubs 2.png");
}
.clubs.three {
  background: url("../cards/Clubs 3.png");
}
.clubs.four {
  background: url("../cards/Clubs 4.png");
}
.clubs.five {
  background: url("../cards/Clubs 5.png");
}
.clubs.six {
  background: url("../cards/Clubs 6.png");
}
.clubs.seven {
  background: url("../cards/Clubs 7.png");
}
.clubs.eight {
  background: url("../cards/Clubs 8.png");
}
.clubs.nine {
  background: url("../cards/Clubs 9.png");
}
.clubs.ten {
  background: url("../cards/Clubs 10.png");
}
.clubs.jack {
  background: url("../cards/Clubs 11.png");
}
.clubs.queen {
  background: url("../cards/Clubs 12.png");
}
.clubs.king {
  background: url("../cards/Clubs 13.png");
}



.diamond.ace {
  background: url("../cards/Diamond 1.png");
}
.diamond.two {
  background: url("../cards/Diamond 2.png");
}
.diamond.three {
  background: url("../cards/Diamond 3.png");
}
.diamond.four {
  background: url("../cards/Diamond 4.png");
}
.diamond.five {
  background: url("../cards/Diamond 5.png");
}
.diamond.six {
  background: url("../cards/Diamond 6.png");
}
.diamond.seven {
  background: url("../cards/Diamond 7.png");
}
.diamond.eight {
  background: url("../cards/Diamond 8.png");
}
.diamond.nine {
  background: url("../cards/Diamond 9.png");
}
.diamond.ten {
  background: url("../cards/Diamond 10.png");
}
.diamond.jack {
  background: url("../cards/Diamond 11.png");
}
.diamond.queen {
  background: url("../cards/Diamond 12.png");
}
.diamond.king {
  background: url("../cards/Diamond 13.png");
}


.hearts.ace {
  background: url("../cards/Hearts 1.png");
}
.hearts.two {
  background: url("../cards/Hearts 2.png");
}
.hearts.three {
  background: url("../cards/Hearts 3.png");
}
.hearts.four {
  background: url("../cards/Hearts 4.png");
}
.hearts.five {
  background: url("../cards/Hearts 5.png");
}
.hearts.six {
  background: url("../cards/Hearts 6.png");
}
.hearts.seven {
  background: url("../cards/Hearts 7.png");
}
.hearts.eight {
  background: url("../cards/Hearts 8.png");
}
.hearts.nine {
  background: url("../cards/Hearts 9.png");
}
.hearts.ten {
  background: url("../cards/Hearts 10.png");
}
.hearts.jack {
  background: url("../cards/Hearts 11.png");
}
.hearts.queen {
  background: url("../cards/Hearts 12.png");
}
.hearts.king {
  background: url("../cards/Hearts 13.png");
}



.spades.ace {
  background: url("../cards/Spades 1.png");
}
.spades.two {
  background: url("../cards/Spades 2.png");
}
.spades.three {
  background: url("../cards/Spades 3.png");
}
.spades.four {
  background: url("../cards/Spades 4.png");
}
.spades.five {
  background: url("../cards/Spades 5.png");
}
.spades.six {
  background: url("../cards/Spades 6.png");
}
.spades.seven {
  background: url("../cards/Spades 7.png");
}
.spades.eight {
  background: url("../cards/Spades 8.png");
}
.spades.nine {
  background: url("../cards/Spades 9.png");
}
.spades.ten {
  background: url("../cards/Spades 10.png");
}
.spades.jack {
  background: url("../cards/Spades 11.png");
}
.spades.queen {
  background: url("../cards/Spades 12.png");
}
.spades.king {
  background: url("../cards/Spades 13.png");
}
